---
import Logo from "../assets/logo.svg";
import Stribe from "../assets/stribe.svg";
import FigLeft from "../assets/footer-figure-left.svg";
import FigRight from "../assets/footer-figure-right.svg";
import Vector from "../assets/vector.svg";
---
<footer class="hidden md:block relative w-full h-full text-black pt-16 pb-8">

  <!-- Stribe -->
  <div class="absolute left-0 w-full bottom-70 z-20">
    <Stribe class="w-full h-auto pointer-events-none select-none" />
  </div>

  <!-- Vector -->
  <div class="absolute left-0 bottom-0 w-full z-20">
    <Vector class="w-full h-auto pointer-events-none select-none" />
  </div>

  <!-- Venstre figur -->
  <FigLeft class="h-82 w-auto pointer-events-none select-none z-100" />

  <!-- Højre figur -->
  <div class="absolute right-4 bottom-0 z-30 transform -translate-y-6">
    <FigRight class="h-45 w-auto pointer-events-none select-none" />
  </div>

  <!-- Container -->
  <div class="container mx-auto px-4 relative z-40 pl-16">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-y-6 md:gap-x-40 md:gap-y-8 items-start">
      
      <!-- Logo -->
      <div class="col-span-1 md:col-start-1 flex flex-col items-center md:items-start gap-4">
        <Logo class="h-22 w-auto" />
      </div>

      <!-- Links -->
      <nav aria-label="Footer links" class="col-span-1 md:col-start-2 flex justify-center md:justify-start">
        <ul class="footer__links space-y-4">
          <li class="footer__link">Om Børnebiffen</li>
          <li class="footer__link">Tilgængelighedserklæring</li>
          <li class="footer__link">Cookies</li>
          <li class="footer__link">Privatlivspolitik</li>
          <li class="footer__link">Kontakt os</li>
        </ul>
      </nav>

      <!-- Adresse -->
      <div class="col-span-1 md:col-start-3 flex justify-center md:justify-start">
        <ul class="footer__links footer__contact space-y-4">
          <li class="footer__link">DBC DIGITAL A/S</li>
          <li class="footer__link">Tempovej 7-11</li>
          <li class="footer__link">2750 Ballerup</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
