---
// Henter parametrene fra Astro.props
const {
  href = "#",
  target = "_self",
  variant = "accentnone",
  size = "text",
} = Astro.props;

const baseClasses = "";

const variantClasses = {
  accentnone: "",
  accent1:
    "bg-accent-1-400 border-accent-1-400 text-white hover:bg-accent-1-200 hover:border-accent-1-200 active:bg-accent-1-100 mr-2",
  accent2:
    "bg-accent-2-400 border-accent-2-400 text-white hover:bg-accent-2-200 hover:border-accent-2-200 active:bg-accent-2-100 mr-2",
  accent3:
    "bg-accent-3-400 border-accent-3-400 text-white hover:bg-accent-3-200 hover:border-accent-3-200 active:bg-accent-3-100 mr-2",
  accent4:
    "bg-accent-4-400 border-accent-4-400 text-white hover:bg-accent-4-200 hover:border-accent-4-200 active:bg-accent-4-100 mr-2",
  accent5:
    "bg-accent-5-400 border-accent-5-400 text-white hover:bg-accent-5-200 hover:border-accent-5-200 active:bg-accent-5-100 mr-2",
};

const sizeClasses = {
  text: "my-4 xl:text-[1.25rem] lg:text-[1.125rem] text-[1rem] font-sans",
  sm: "px-8 py-3 text-[1.25rem] inline-flex items-center justify-center rounded-md font-medium select-none transition-all duration-150 font-display",
  md: "px-12 py-4 text-[1.5rem] inline-flex items-center justify-center rounded-md font-medium select-none transition-all duration-150 font-display",
  lg: "px-16 py-6 text-[2rem] inline-flex items-center justify-center rounded-md font-medium select-none transition-all duration-150 font-display",
};
---

<a
  href={href}
  target={target}
  class:list={[
    baseClasses,
    variantClasses[variant],
    sizeClasses[size],
    "link-component",
  ]}
  style={`--link-icon-size:`}
>
  <span class="inline-flex items-center">
    <span class="inline-flex items-center"><slot name="icon" /></span>
    <slot />
  </span>
</a>

<style>
  .link-component svg {
    width: var(--link-icon-size);
    height: var(--link-icon-size);
  }
</style>
