---
// Henter parametrene fra Astro.props
const {
  teksttype = "brødtekst",
  font = "sans",
  stylingclasses = "",
} = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  konsultativ: "text-sm text-italic",
  brødtekst: "text-xl my-4",
};

const fontClasses = {
  display: "font-display",
  sans: "font-sans",
};
---

<p class:list={[sizeClasses[teksttype], fontClasses[font], stylingclasses]}>
  <slot />
</p>
